.page-home {
    &__title {
        font-weight: 900;
        font-size: 42px;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        @include rfonts(36, 24, 22, 14);
        line-height: 1;
        strong {
            display: block;
            font-size: 140px;
            letter-spacing: 0;
            color: $primary;
            font-weight: 900;
            left: -0.035em;
            @include rfonts(120, 80, 72, 44);
        }
    }
    &__subtitle {
        font-weight: 300;
        font-size: 30px;
        line-height: 1.5;
        @include rfonts(30, 24, 20, 16);
        @include xs {
            font-weight: 400;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.01em;
        line-height: (35 / 20);
        margin-top: 30px;
        @include rfonts(20, 18, 16, 14);
        @include sm {
            margin-top: 20px;
        }
        @include xs {
            font-weight: 400;
        }
    }

    .section {
        padding: 100px 0px;
        @include md {
            padding: 80px 0px;
        }
        @include sm {
            padding: 70px 0px;
        }
        @include xs {
            padding: 60px 0px;
        }
    }

    .section--intro {
    }

    .section--help {
        background-color: $black;
        .section-title {
            color: white;
        }
    }
}

.pr-episodes {
    margin: 15px 0px 0px;
    @include xs {
        margin-top: 30px;
    }
    .row {
        @include xs {
            width: 100vw;
            margin-left: -5vw;
        }
    }
    &__col {
        @extend .col-lg-4, .col-md-6;
        margin-top: 30px;
        @include sm {
            margin-top: 15px;
            &:first-child {
                .pr-episodes__item {
                    border-top: 0px;
                    padding-top: 0;
                    margin-top: 10px;
                }
            }
            &:last-child {
                .pr-episodes__item {
                    border-bottom: 0px;
                    padding-bottom: 30px;
                    &__link {
                        bottom: 0;
                    }
                }
            }
        }
        @include xs {
            margin-top: -1px;
            padding: 0;
        }
        
    }
    &__item {
        background: #fff;
        border: 1px solid #e5e5e5;
        padding: 36px 36px 72px;
        height: 100%;
        @include xs {
            border-left: 0px;
            border-right: 0px;
            padding: 25px 5vw 64px;
        }
        &__title {
            font-family: $zona;
            font-size: 18px;
            line-height: 1.3;
            text-align: left;
            font-weight: 900;
            border-bottom: 2px solid $primary;
            padding-bottom: 15px;
            margin-bottom: 20px;
            @include rfonts(18, 18, 18, 16);
            @include xs {
                padding-bottom: 10px;
                margin-bottom: 15px;
            }
        }
        &__text {
            font-size: 14px;
            line-height: (24 / 14);
            @include rfonts(14, 14, 14, 12);
        }
        &__link {
            display: inline-block;
            padding-right: 15px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAMAAABl5a5YAAAAS1BMVEUAAADfMDDfNTDjNTHfNS/fNTLgNC7fNzLhNjLfNjLhNzLfNjPgNjHfNjLfNjLfNjLfNzLfNjPfNjPgNjLeNjPfNTLgNjLgNjPgNzOg0G95AAAAFnRSTlMAEDA/V2BjcH+An6CluMDQ4Ojw8/r9eisFyAAAAFtJREFUeNp9ilsOgCAMBNf6FhXFV+9/Ui0ikSY6H5vMZBEgQkLJ3CSBL7p3cLrQX8lyT7VI6YGaA/shO2DiWPzCxuAfG8iMN7P4WuDBiDv69FY5tMMpB1kbXXECV+wKZUSimy4AAAAASUVORK5CYII=);
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 0.01em;
            line-height: 1;
            margin-top: 22px;
            background-size: 8px auto;
            background-repeat: no-repeat;
            background-position: 100% 70%;
            color: $black;
            position: absolute;
            bottom: 36px;
            @include xs {
                margin-top: 15px;
            }
            &:hover {
                color: $primary;
            }
        }
    }
}

.section-title {
    max-width: 770px;
    &__title {
        font-family: $zona;
        font-weight: 900;
        font-size: 35px;
        letter-spacing: 0.09em;
        line-height: 1.2;
        text-transform: uppercase;
        margin-top: 0;
        @include rfonts(35, 30, 24, 18);
        @include md {
            margin-bottom: 10px;
        }
        @include xs {
            letter-spacing: .05em;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 20px;
        line-height: (35 / 20);
        @include rfonts(20, 18, 16, 14);
        @include xs {
            line-height: 1.6;
            font-weight: 400;
        }
    }
}

.pr-help {
    margin: 15px 0px 0px;
    + .section-title {
        margin-top: 70px;
        @include sm {
            margin-top: 50px;
        }
    }
    &__col {
        @extend .col-lg-4, .col-md-6;
        margin-top: 30px;
        @include sm {
            margin-top: 15px;
        }
    }
    &__item {
        padding: 15px 10px 13px 27px;
        color: white;
        height: 100%;
        @include sm {
            padding: 10px 10px 10px 22px;
        }
        &:before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: $primary;
            transform: scaleX(0.01);
            transform-origin: left;
            transition: transform .4s ease;
            @include sm {
                transform: scaleX(0.005);
            }
            @include xs {
                transform: scaleX(0.01);
            }
        }

        &__title,
        &__text {
            z-index: 2;
        }

        &__title {
            font-weight: bold;
            font-size: 16px;
            line-height: 1.4;
            @include xs {
                font-size: 14px;
            }
        }
        &__text {
            font-size: 14px;
            line-height: (24 / 14);
            opacity: 0.8;
            margin-top: 6px;
            @include xs {
                font-size: 12px;
            }
        }
        &__link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        &:hover {
            &:before {
                transform: scaleX(1);
            }
        }
    }
}

.pr-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    @include sm {
        margin-top: 25px;
    }
    &__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        padding: 0px 30px 20px 20px;
        @include sm {
            width: 100%;
        }
        @include xs {
            white-space: normal;
            overflow: visible;
            padding: 0px 0px 14px 20px;
        }
        &:before {
            content: " ";
            width: 12px;
            height: 2px;
            background-color: $red;
            position: absolute;
            left: 0;
            top: 11px;
        }
        &:nth-of-type(1),
        &:nth-of-type(2) {
            border-top: 0px;
        }
        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 1;
            color: black;
            @include md {
                font-size: 14px;
            }
            &:hover {
                color: $primary;
            }
        }
    }
}

.pr-numbers {
    background-color: #FAFAFA;
    margin: 50px 0px;
    padding: 10px 60px 50px;
    @include sm {
        padding: 10px 40px 40px;
        margin: 30px 0px;
    }
    @include xs {
        width: 100vw;
        margin: 30px -5vw;
        padding: 20px 5vw 40px;
    }
    &__item {
        @extend .col-lg-3, .col-sm-6;
        margin-top: 30px;
        @include xs {
            margin-top: 20px;
        }
        &__n {
            font-family: $zona;
            font-weight: 900;
            font-size: 64px;
            line-height: 1;
            left: -0.01em;
            @include rfonts(64, 64, 50, 40);
        }
        &__t {
            font-size: 16px;
            line-height: 1.6;
            margin-top: 10px;
            @include rfonts(16, 16, 14, 14);
        }
    }

    &__disclaimer {
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
        margin-top: 36px;
        color: #696969;
        @include sm {
            font-size: 12px;
        }
        a {
            color: $primary;
            border-bottom: 1px solid rgba($primary, .6);
            &:hover {
                opacity: .8;
            }
        }
    }
}